.apropos-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.apropos-frame3 {
  gap: var(--dl-space-space-fiveunits);
  top: 0px;
  flex: auto;
  left: 0px;
  width: 100%;
  height: auto;
  margin: auto;
  display: flex;
  padding: 0 15px 0 0;
  position: absolute;
  flex-wrap: wrap;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: auto;
  justify-content: center;
  background-color: var(--dl-color-success-500);
}
.apropos-header {
  width: 100%;
  display: flex;
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-unit);
  justify-content: space-between;
}
.apropos-navlink {
  color: #ffffffff;
  cursor: pointer;
  font-size: 18px;
  font-style: normal;
  font-family: Permanent Marker;
  font-weight: 700;
  pointer-events: cursor;
  text-decoration: none;
}
.apropos-container1 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.apropos-nav {
  flex: 0 0 auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
}
.apropos-navlink1 {
  color: #ffffffff;
  cursor: pointer;
  font-style: normal;
  transition: 0.3s;
  font-weight: 400;
  text-decoration: none;
}
.apropos-navlink1:hover {
  color: #2f2c07;
  font-style: normal;
  font-weight: 700;
}
.apropos-navlink2 {
  color: #ffffffff;
  cursor: pointer;
  transition: 0.3s;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.apropos-navlink2:hover {
  color: #2f2c07;
  font-style: normal;
  font-weight: 700;
}
.apropos-navlink2:active {
  color: #2f2c07;
  font-style: normal;
  font-weight: 700;
}
.apropos-text07 {
  color: #ffffffff;
  cursor: pointer;
  font-style: normal;
  font-weight: 700;
  margin-left: var(--dl-space-space-twounits);
}
.apropos-thq-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.3s;
  border-radius: var(--dl-radius-radius-radius2);
}

.apropos-dropdown-list {
  left: 0%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  background-color: var(--dl-color-gray-white);
  list-style-position: inside;
}
.apropos-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.apropos-dropdown-toggle {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.apropos-dropdown-toggle:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.apropos-text08 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.apropos-dropdown1 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.apropos-dropdown-toggle1 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.apropos-dropdown-toggle1:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.apropos-text09 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.apropos-dropdown2 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.apropos-dropdown-toggle2 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.apropos-dropdown-toggle2:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.apropos-text10 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.apropos-dropdown3 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.apropos-btn-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.apropos-register {
  color: 500 (Gray);
  transition: 0.3s;
  border-color: var(--dl-color-gray-500);
  border-style: double;
  border-width: 2px;
  text-decoration: none;
  background-color: transparent;
}
.apropos-register:hover {
  color: var(--dl-color-gray-white);
  font-style: normal;
  font-weight: 400;
  background-color: var(--dl-color-gray-500);
}
@media(max-width: 991px) {
  .apropos-frame3 {
    flex-wrap: wrap;
  }
}
@media(max-width: 767px) {
  .apropos-header {
    flex: 1;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    justify-content: space-between;
  }
  .apropos-navlink {
    color: rgb(47, 44, 7);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
  }
  .apropos-text06 {
    color: var(--dl-color-primary-300);
  }
  .apropos-nav {
    flex: 1;
    width: auto;
    align-self: center;
    align-items: flex-end;
    flex-direction: row;
    justify-content: center;
  }
  .apropos-navlink1 {
    align-self: flex-end;
    margin-right: var(--dl-space-space-unit);
    margin-bottom: 0px;
  }
  .apropos-navlink2 {
    margin-left: 0;
    margin-right: var(--dl-space-space-unit);
    margin-bottom: 0px;
  }
  .apropos-text07 {
    margin-left: 0;
    margin-bottom: 0px;
  }
  .apropos-dropdown-list {
    display: none;
  }
  .apropos-btn-group {
    display: none;
  }
}
@media(max-width: 479px) {
  .apropos-header {
    padding: var(--dl-space-space-unit);
  }
  .apropos-navlink1 {
    font-size: 11px;
  }
  .apropos-navlink2 {
    font-size: 11px;
  }
  .apropos-text07 {
    font-size: 11px;
  }
  .apropos-text08 {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
  }
}
