.feature-card2-feature-card {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  transition: 0.3s;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.feature-card2-feature-card:hover {
  box-shadow: 5px 5px 10px 0px #000000;
  border-radius: var(--dl-radius-radius-radius4);
  background-color: rgba(89, 89, 89, 0.93);
}
.feature-card2-image {
  width: 100px;
  object-fit: cover;
}
.feature-card2-text {
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.feature-card2-text1 {
  color: rgba(255, 255, 255, 0.6);
  text-align: justify;
}
@media(max-width: 1200px) {
  .feature-card2-feature-card {
    margin-left: var(--dl-space-space-halfunit);
  }
  .feature-card2-image {
    height: 100px;
  }
}
@media(max-width: 767px) {
  .feature-card2-feature-card {
    flex-wrap: wrap;
  }
}
@media(max-width: 479px) {
  .feature-card2-text {
    font-style: normal;
    font-weight: 600;
  }
}
